<section class="contacts" id="contacts">
   <div class="container">
      <h2 class="visually-hidden">
         Категории представительств</h2>
      <ul class="contacts__list">
         <li class="contacts__item">
            <p class="contacts__title ">
               Cafe
            </p>
            <h3 class="contacts__town">Chicago</h3>
            <p class="contacts__town contacts__town--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__town contacts__town--days">Monday - Friday</p>
            <p class="contacts__town contacts__town--time">06:00 AM - 10:00 PM</p>
            <p class="contacts__town contacts__town--days">Saturday - Sunday</p>
            <p class="contacts__town contacts__town--time">08:00 AM - 16:00 PM</p>
            <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
               +61 (0)383 766 284</a>
            <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
               info@devstudio.com</a>
         </li>
         <li class="contacts__item">
            <p class="contacts__title contacts__title--other ">
               Foodtruck
            </p>
            <h3 class="contacts__town">Los Angeles</h3>
            <p class="contacts__town contacts__town--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__town contacts__town--days">Monday - Friday</p>
            <p class="contacts__town contacts__town--time">06:00 AM - 10:00 PM</p>
            <p class="contacts__town contacts__town--days">Saturday - Sunday</p>
            <p class="contacts__town contacts__town--time">08:00 AM - 16:00 PM</p>
            <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
               +61 (0)383 766 284</a>
            <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
               info@devstudio.com</a>
         </li>
         <li class="contacts__item">
            <p class="contacts__title ">
               Cafe
            </p>
            <h3 class="contacts__town">New York</h3>
            <p class="contacts__town contacts__town--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__town contacts__town--days">Monday - Friday</p>
            <p class="contacts__town contacts__town--time">06:00 AM - 10:00 PM</p>
            <p class="contacts__town contacts__town--days">Saturday - Sunday</p>
            <p class="contacts__town contacts__town--time">08:00 AM - 16:00 PM</p>
            <a href="tel:+380961111111" class="contacts__link contacts__link--tel">
               +61 (0)383 766 284</a>
            <a href="mailto:info@devstudio.com" class="contacts__link contacts__link--email">
               info@devstudio.com</a>
         </li>
      </ul>
      <ul class="btn-list">
         <li class="btn-list__item">
            <a href="#openModal-1" class="button button--location">Our Locations
               <svg class="link__icon" width="6" height="8">
                  <use href="./images/icons.svg#icon-arrow-light"></use>
               </svg>
            </a>
         </li>
         <li class="btn-list__item">
            <a href="#openModal-2" class="button button--franchise">Franchise
               <svg class="link__icon" width="6" height="8">
                  <use href="./images/icons.svg#icon-arrow-red"></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</section>