<section class="customers-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customers reviews</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/sergei.png" alt="sergei" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Thanks to all the team for their combined work, understanding and friendly
                atmosphere. Also the mentors are trained to
                make a good product.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Sergei, Nikolaev</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/tanya.png" alt="tanya" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">If you want something you’ve never had, you’ll have to do something you’ve never
                done.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Tatiana, Dnepr</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/vadim.png" alt="vadym" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">«C'est la vie.»
                «Chaque personne a sa propre voie.»
                «Ne perdez pas de temps car cela fait la vie.»</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Vadim, Dnepr</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/anastasia.png" alt="anastasia" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Learn while others sleep, work while others rest, be ready while others relax and
                dream while others cry.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Anastasiya, Dnepr</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/denys.png" alt="denys" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Thanks to all the team for their combined work, understanding and friendly
                atmosphere. Also the mentors are trained to
                make a good product.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Denis, Dnepr</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/dmitriy.png" alt="dmitriy" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Thanks to all the team for their combined work, understanding and friendly
                atmosphere. Also the mentors are trained to
                make a good product.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Dmitrii, Vinnitsa</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/sergei-2.png" alt="anastasia" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Thanks to all the team for their combined work, understanding and friendly
                atmosphere. Also the mentors are trained to
                make a good product.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Sergei, Cherkassy</h3>
        </div>
        <div class="swiper-slide">
          <img class="swiper__img" src="./images/reviews/segrei-3.png" alt="anastasia" width="85" height="85">
          <div class="swiper__box">
            <div class="swiper__thumb">
              <p class="swiper__text">Thanks to all the team for their combined work, understanding and friendly
                atmosphere. Also the mentors are trained to make a good product.</p>
            </div>
          </div>
          <div class="swiper__dots"></div>
          <h3 class="swiper__title">Sergei, Dnepr</h3>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
</section>