<section class="hero">
  <div class="container hero__container">
    <img class="hero-primary-img" src="images/hero/hero-icecream.png"
      srcset="images/hero/hero-icecream.png 1x, images/hero/hero-icecream@2x.png 2x" alt="Big ice-cream" />
    <img src="images/hero/so-tasty.png" srcset="images/hero/so-tasty.png 1x, images/hero/so-tasty@2x.png 2x"
      alt="Girl with ice-cream" class="hero-secondary-img" />
    <div class="title-section">
      <h1 class="title-section__title">
        Ice cream made with <span class="title-section__title--accent">passion</span>
      </h1>
      <ul class="title-section__buttons-list">
        <li class="title-section__buttons-item">
          <a href="#products" class="link link--product">Products</a>
        </li>
        <li class="title-section__buttons-item">
          <a href="#about" class="link link--how-made">How it's made?</a>
        </li>
      </ul>
    </div>
    <div class="mini-how-its-made">
      <img src="images/hero/eco-milk.png" srcset="images/hero/eco-milk.png 1x, images/hero/eco-milk@2x.png 2x"
        alt="Jug of milk" class="mini-how-its-made__img" />
      <div class="mini-how-its-made__description">
        <p class="mini-how-its-made__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="dot">...</span><span class="cont">erisque enim ligula venenatis dolor.</span>
        </p>
        <button data-tooltip="Read More" type="button" value="Read more" class="mini-how-its-made__button-circle button-circle button-circle--small">
          <svg class="button__icon-arrow" width="11" height="9">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="sale-points">
      <li class="sale-points__item">
        <span class="sale-points__quantity">16</span>
        <span class="sale-points__label">cafe</span>
      </li>
      <li class="sale-points__item">
        <span class="sale-points__quantity">23</span>
        <span class="sale-points__label">food trucks</span>
      </li>
    </ul>
  </div>
</section>
