.header {
  z-index: 50;
  padding-top: 6px;
  padding-bottom: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $tablet) {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile) {
    width: 100vw;
  }

  @media screen and (max-width: $tablet) {
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;

  @media screen and (min-width: $desktop) {
    margin-left: -64px;
  }
}

.logo__icon {
  width: 50px;
}

.logo__label {
  margin-left: 14px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #d41443;
}

.nav {
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  display: block;
  padding: 10px 0;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  transition: color 300ms var(--mainTransition);

  &:hover {
    color: #d41443;
  }
}

.nav__link--default {
  color: #d41443;
}

.header__button {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.menu-button {
  padding: 5px;
  width: 30px;
  height: 33px;
  position: relative;
  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    margin-right: 25px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-button__icon,
.menu-button__icon::before,
.menu-button__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #d41443;
}

.menu-button__icon::before {
  content: '';
  transform: translateY(-7px);
}

.menu-button__icon::after {
  content: '';
  transform: translateY(7px);
}
